server/build/make/CMakeFiles/
server/build/make/CMakeCache.txt
server/build/make/Makefile
server/build/make/cmake_install.cmake

server/build/make/*/CMakeFiles/
server/build/make/*/CMakeCache.txt
server/build/make/*/Makefile
server/build/make/*/cmake_install.cmake

server/build/bin
server/build/runtime/*-*

*.o
*~
*.pyc
*.swp
*.lock
tags
